main{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 96px;;
}
.main-cont{
    max-width: 1200px;
}
.banner-1 img{
    width: 100%;
}
.banner-2{
    display: flex;
    overflow: auto;
    margin: 0px 15px;
    gap: 22px;
    margin-top: 18px;
}
.banner-2::-webkit-scrollbar{
    display: none;
}
.banner-2 img{
    cursor: pointer;
    width: 335px;
}

/* banneer item categories */

.categories{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(10, 10%);
}
.categories img{
    cursor: pointer;
    width: 100%;
}